In [3]:
import requests
import json
import pandas as pd
from config import trade_key
if trade_key == api_key:
    print("Please configure your config.py file")

ImportError: cannot import name 'trade_key' from 'config' (C:\Users\vtran\Project-1\config.py)

In [ ]:
# Month
export_url =f'https://api.census.gov/data/timeseries/intltrade/exports/hs?get=E_COMMODITY_SDESC,CTY_NAME,ALL_VAL_YR,DIST_NAME&time=2013-01'
import_url =f'https://api.census.gov/data/timeseries/intltrade/imports/enduse?get=CTY_CODE,CTY_NAME,I_ENDUSE,I_ENDUSE_LDESC,GEN_VAL_MO,CON_VAL_MO&time=2013-01'
trade_data = requests.get(import_url).json()
trade_data

In [4]:
# Annual
annual_2015 = f'https://api.census.gov/data/2018/intltrade/imp_exp?get=EXPALL2013,COUNTRY&SCHEDULE&key={trade_key}'
annual_data = requests.get(annual_2015).json()
annual_data

[['EXPALL2013', 'COUNTRY', 'SCHEDULE'],
 ['1410116220', 'Afghanistan', '5310'],
 ['74364825', 'Albania', '4810'],
 ['1848703921', 'Algeria', '7210'],
 ['5796907', 'Andorra', '4271'],
 ['1443395524', 'Angola', '7620'],
 ['31037512', 'Anguilla', '2481'],
 ['145103078', 'Antigua and Barbuda', '2484'],
 ['10351132910', 'Argentina', '3570'],
 ['91221471', 'Armenia', '4631'],
 ['1099787667', 'Aruba', '2779'],
 ['26123737344', 'Australia', '6021'],
 ['3519942333', 'Austria', '4330'],
 ['380998744', 'Azerbaijan', '4632'],
 ['3447977493', 'Bahamas', '2360'],
 ['1026301420', 'Bahrain', '5250'],
 ['708777580', 'Bangladesh', '5380'],
 ['453339832', 'Barbados', '2720'],
 ['95141886', 'Belarus', '4622'],
 ['31840185737', 'Belgium', '4231'],
 ['240629948', 'Belize', '2080'],
 ['605242564', 'Benin', '7610'],
 ['537422110', 'Bermuda', '2320'],
 ['2351165', 'Bhutan', '5682'],
 ['1051415463', 'Bolivia', '3350'],
 ['38481079', 'Bosnia and Herzegovina', '4793'],
 ['82090829', 'Botswana', '7930'],
 ['44105506964', 'Brazil', '3510'],
 ['762058', 'British Indian Ocean Territories', '7810'],
 ['312726797', 'British Virgin Islands', '2482'],
 ['558297839', 'Brunei', '5610'],
 ['307323074', 'Bulgaria', '4870'],
 ['78571883', 'Burkina Faso', '7600'],
 ['145830603', 'Burma', '5460'],
 ['16711425', 'Burundi', '7670'],
 ['9134281', 'Cabo Verde', '7643'],
 ['241220345', 'Cambodia', '5550'],
 ['335737087', 'Cameroon', '7420'],
 ['300754868974', 'Canada', '1220'],
 ['680366150', 'Cayman Islands', '2440'],
 ['4103350', 'Central African Republic', '7540'],
 ['41460707', 'Chad', '7560'],
 ['17515894876', 'Chile', '3370'],
 ['121746188637', 'China', '5700'],
 ['466894', 'Christmas Island', '6024'],
 ['22169095', 'Cocos (Keeling) Islands', '6023'],
 ['18371032417', 'Colombia', '3010'],
 ['3491014', 'Comoros', '7890'],
 ['222397877', 'Congo (Brazzaville)', '7630'],
 ['169825711', 'Congo (Kinshasa)', '7660'],
 ['4869141', 'Cook Islands', '6142'],
 ['7223384099', 'Costa Rica', '2230'],
 ['167433243', "Cote d'Ivoire", '7480'],
 ['308852551', 'Croatia', '4791'],
 ['359609641', 'Cuba', '2390'],
 ['687514148', 'Curacao', '2777'],
 ['143223588', 'Cyprus', '4910'],
 ['1943358124', 'Czech Republic', '4351'],
 ['2231067390', 'Denmark', '4099'],
 ['164483264', 'Djibouti', '7770'],
 ['77679144', 'Dominica', '2486'],
 ['7158187556', 'Dominican Republic', '2470'],
 ['7678971679', 'Ecuador', '3310'],
 ['5175215624', 'Egypt', '7290'],
 ['3250238283', 'El Salvador', '2110'],
 ['756139906', 'Equatorial Guinea', '7380'],
 ['13476312', 'Eritrea', '7741'],
 ['293183114', 'Estonia', '4470'],
 ['22681861', 'Eswatini', '7950'],
 ['688507736', 'Ethiopia', '7749'],
 ['1241492', 'Falkland Islands (Islas Malvinas)', '3720'],
 ['2453563', 'Faroe Islands', '4091'],
 ['66885504', 'Fiji', '6863'],
 ['2349052218', 'Finland', '4050'],
 ['31743718451', 'France', '4279'],
 ['631200449', 'French Guiana', '3170'],
 ['126189637', 'French Polynesia', '6414'],
 ['1749592', 'French Southern and Antarctic Lands', '7905'],
 ['307983525', 'Gabon', '7550'],
 ['34135359', 'Gambia', '7500'],
 ['178138', 'Gaza Strip Administered by Israel', '5082'],
 ['601244307', 'Georgia', '4633'],
 ['47363465586', 'Germany', '4280'],
 ['981388029', 'Ghana', '7490'],
 ['3576397600', 'Gibraltar', '4720'],
 ['739038829', 'Greece', '4840'],
 ['19148034', 'Greenland', '1010'],
 ['95251167', 'Grenada', '2489'],
 ['642437801', 'Guadeloupe', '2831'],
 ['5554588951', 'Guatemala', '2050'],
 ['79462980', 'Guinea', '7460'],
 ['6643733', 'Guinea-Bissau', '7642'],
 ['318863043', 'Guyana', '3120'],
 ['1227113799', 'Haiti', '2450'],
 ['504268', 'Heard and McDonald Islands', '6029'],
 ['5420255599', 'Honduras', '2150'],
 ['42332232943', 'Hong Kong', '5820'],
 ['1726956134', 'Hungary', '4370'],
 ['513396894', 'Iceland', '4000'],
 ['21810447551', 'India', '5330'],
 ['9106545145', 'Indonesia', '5600'],
 ['308142294', 'Iran', '5070'],
 ['2003374954', 'Iraq', '5050'],
 ['6632235721', 'Ireland', '4190'],
 ['13743691038', 'Israel', '5081'],
 ['16757095740', 'Italy', '4759'],
 ['1979623696', 'Jamaica', '2410'],
 ['65237414094', 'Japan', '5880'],
 ['2085026459', 'Jordan', '5110'],
 ['1150177842', 'Kazakhstan', '4634'],
 ['635695507', 'Kenya', '7790'],
 ['6983607', 'Kiribati', '6226'],
 ['6582817', 'Korea, North', '5790'],
 ['41648727506', 'Korea, South', '5800'],
 ['14544129', 'Kosovo', '4803'],
 ['2597538635', 'Kuwait', '5130'],
 ['106251152', 'Kyrgyzstan', '4635'],
 ['24400348', 'Laos', '5530'],
 ['494564967', 'Latvia', '4490'],
 ['1034263176', 'Lebanon', '5040'],
 ['571144', 'Lesotho', '7990'],
 ['173207630', 'Liberia', '7650'],
 ['864473039', 'Libya', '7250'],
 ['22055946', 'Liechtenstein', '4411'],
 ['854235543', 'Lithuania', '4510'],
 ['1848801276', 'Luxembourg', '4239'],
 ['351203334', 'Macau', '5660'],
 ['54778259', 'Macedonia', '4794'],
 ['64007569', 'Madagascar', '7880'],
 ['54498745', 'Malawi', '7970'],
 ['13015887589', 'Malaysia', '5570'],
 ['28778952', 'Maldives', '5683'],
 ['49893003', 'Mali', '7450'],
 ['563593854', 'Malta', '4730'],
 ['65478036', 'Marshall Islands', '6810'],
 ['381786515', 'Martinique', '2839'],
 ['244685427', 'Mauritania', '7410'],
 ['42095310', 'Mauritius', '7850'],
 ['8520110', 'Mayotte', '7881'],
 ['225954367783', 'Mexico', '2010'],
 ['41566161', 'Micronesia', '6820'],
 ['45602639', 'Moldova', '4641'],
 ['465907393', 'Monaco', '4272'],
 ['279573362', 'Mongolia', '5740'],
 ['21683955', 'Montenegro', '4804'],
 ['8616652', 'Montserrat', '2485'],
 ['2483726772', 'Morocco', '7140'],
 ['303016499', 'Mozambique', '7870'],
 ['235244409', 'Namibia', '7920'],
 ['758585', 'Nauru', '6862'],
 ['32513730', 'Nepal', '5360'],
 ['42577045423', 'Netherlands', '4210'],
 ['0', 'Netherlands Antilles (through Apr 2011)', '2771'],
 ['72868672', 'New Caledonia', '6412'],
 ['3225401631', 'New Zealand', '6141'],
 ['1059306367', 'Nicaragua', '2190'],
 ['46194680', 'Niger', '7510'],
 ['6388352516', 'Nigeria', '7530'],
 ['249064', 'Niue', '6144'],
 ['1730958', 'Norfolk Island', '6022'],
 ['4616023641', 'Norway', '4039'],
 ['1570964193', 'Oman', '5230'],
 ['1645795477', 'Pakistan', '5350'],
 ['18237634', 'Palau', '6830'],
 ['10564548080', 'Panama', '2250'],
 ['166733845', 'Papua New Guinea', '6040'],
 ['1932782887', 'Paraguay', '3530'],
 ['10120124634', 'Peru', '3330'],
 ['8403390567', 'Philippines', '5650'],
 ['0', 'Pitcairn Islands', '6225'],
 ['3778311068', 'Poland', '4550'],
 ['844350936', 'Portugal', '4710'],
 ['4957973407', 'Qatar', '5180'],
 ['8774205', 'Reunion', '7904'],
 ['746508997', 'Romania', '4850'],
 ['11144747483', 'Russia', '4621'],
 ['25191269', 'Rwanda', '7690'],
 ['28394642', 'Samoa', '6150'],
 ['1873295', 'San Marino', '4751'],
 ['1998050', 'Sao Tome and Principe', '7644'],
 ['18962914928', 'Saudi Arabia', '5170'],
 ['229108446', 'Senegal', '7440'],
 ['141973440', 'Serbia', '4801'],
 ['12189931', 'Seychelles', '7800'],
 ['82411287', 'Sierra Leone', '7470'],
 ['30665030257', 'Singapore', '5590'],
 ['828898068', 'Sint Maarten', '2774'],
 ['295818376', 'Slovakia', '4359'],
 ['269491341', 'Slovenia', '4792'],
 ['8933554', 'Solomon Islands', '6223'],
 ['15959166', 'Somalia', '7700'],
 ['7293400316', 'South Africa', '7910'],
 ['13417224', 'South Sudan', '7323'],
 ['10244036471', 'Spain', '4700'],
 ['311911749', 'Sri Lanka', '5420'],
 ['2866797', 'St Helena', '7580'],
 ['142958744', 'St Kitts and Nevis', '2483'],
 ['594301914', 'St Lucia', '2487'],
 ['261629', 'St Pierre and Miquelon', '1610'],
 ['93180570', 'St Vincent and the Grenadines', '2488'],
 ['88268450', 'Sudan', '7321'],
 ['0', 'Sudan (through Jul 2011)', '7320'],
 ['449846279', 'Suriname', '3150'],
 ['1633247', 'Svalbard, Jan Mayen Island', '4031'],
 ['4318640022', 'Sweden', '4010'],
 ['26558942638', 'Switzerland', '4419'],
 ['21644824', 'Syria', '5020'],
 ['25522769412', 'Taiwan', '5830'],
 ['51874112', 'Tajikistan', '4642'],
 ['411953494', 'Tanzania', '7830'],
 ['11797010707', 'Thailand', '5490'],
 ['1365128', 'Timor-Leste', '5601'],
 ['1007500845', 'Togo', '7520'],
 ['828055', 'Tokelau', '6143'],
 ['19238838', 'Tonga', '6864'],
 ['2408396126', 'Trinidad and Tobago', '2740'],
 ['907186423', 'Tunisia', '7230'],
 ['12078652726', 'Turkey', '4890'],
 ['261778552', 'Turkmenistan', '4643'],
 ['225789558', 'Turks and Caicos Islands', '2430'],
 ['560260', 'Tuvalu', '6227'],
 ['122740389', 'Uganda', '7780'],
 ['1924811744', 'Ukraine', '4623'],
 ['24476064517', 'United Arab Emirates', '5200'],
 ['47361236230', 'United Kingdom', '4120'],
 ['1754607247', 'Uruguay', '3550'],
 ['356435025', 'Uzbekistan', '4644'],
 ['34439495', 'Vanuatu', '6224'],
 ['2467299', 'Vatican City', '4752'],
 ['13200529914', 'Venezuela', '3070'],
 ['5036763709', 'Vietnam', '5520'],
 ['637535', 'Wallis and Futuna', '6413'],
 ['894527', 'West Bank Administered by Israel', '5083'],
 ['156076', 'Western Sahara', '7370'],
 ['518251949', 'Yemen', '5210'],
 ['141148845', 'Zambia', '7940'],
 ['60513567', 'Zimbabwe', '7960'],
 ['179871109', 'Unidentified Countries', 'XXXX']]

In [5]:
df = pd.DataFrame(data=annual_data)
df_header =df[1:]
header = df.iloc[0]
df_header.columns = header
df_header.reset_index(drop=True, inplace=True)
df_header

0    EXPALL2013                 COUNTRY SCHEDULE
0    1410116220             Afghanistan     5310
1      74364825                 Albania     4810
2    1848703921                 Algeria     7210
3       5796907                 Andorra     4271
4    1443395524                  Angola     7620
..          ...                     ...      ...
232      156076          Western Sahara     7370
233   518251949                   Yemen     5210
234   141148845                  Zambia     7940
235    60513567                Zimbabwe     7960
236   179871109  Unidentified Countries     XXXX

[237 rows x 3 columns]

In [21]:
df_header.to_csv('Annual International Trade  of Manufactured Goods (2013).csv',index=False)

In [10]:
number =df_header['EXPALL2013']
total =0
for x in number:
    total += int(x)
total

1578516879950